<header class="header">
  <div class="container">
    <div class="logo">
      <h1>Bety & Erick</h1>
    </div>

    <div class="language-buttons">
      <button class="lang-btn" [class.active]="translationService.getCurrentLanguage() === 'es'" (click)="changeLanguage('es')">
        <img src="mx.png" alt="Español" class="flag-icon"> Esp
      </button>
      <button class="lang-btn" [class.active]="translationService.getCurrentLanguage() === 'en'" (click)="changeLanguage('en')">
        <img src="us.png" alt="English" class="flag-icon"> Eng
      </button>
    </div>
  </div>
</header>
