<section id="home" class="home-section">
  <div class="hero-image">
    <img src="engagement.jpg" alt="Bety & Erick - Engagement" class="main-image" loading="lazy">
    <div class="hero-text">
      <h1>{{ 'home.title' | translate }}</h1>
    </div>
  </div>
</section>

<app-details></app-details>
<app-itinerary></app-itinerary>
<app-location></app-location>
<app-gallery></app-gallery>
<app-dress-code></app-dress-code>
<app-faq></app-faq>
<app-registry></app-registry>
<app-rsvp></app-rsvp>
<app-contact></app-contact>
